.workflow-node {
  --icon-color: var(--foreground-icon-warning);
  --border-color: var(--border-base);
  --page-background-color: var(
    --canvas-background-color,
    var(--background-base)
  );

  position: relative;

  &:focus {
    outline: none;
  }

  &[data-hovered] {
    .workflow-node-toolbar {
      opacity: 1;
    }
  }

  &[data-hovered].default:not(.pinned) {
    .workflow-node-card {
      border-color: var(--border-base-hover);
    }
  }

  /* This invisible box to avoid toolbar flicker when mouse pointer is between the node and the toolbar  */
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: -6px;
    width: 4.7rem;
    height: 6px;
    border-radius: 6px;
    background-color: transparent;
  }

  &.inactive {
    --icon-color: var(--foreground-icon-base-strong);

    .workflow-node-card {
      background-color: var(--background-base-disabled);

      svg {
        filter: grayscale(100%) opacity(50%);
      }
    }
  }

  &.success {
    --icon-color: var(--foreground-icon-success);
    --border-color: var(--border-success);
  }

  &.warning {
    --icon-color: var(--foreground-icon-warning);
    --border-color: var(--border-warning);
  }

  &.error {
    --icon-color: var(--foreground-icon-danger);
    --border-color: var(--border-danger);
  }

  &.pinned {
    --icon-color: var(--foreground-icon-base-strong);
    --border-color: var(--border-base-selected);
  }

  &.pending {
    pointer-events: none;
    cursor: default;

    .workflow-node-card > * {
      opacity: 0.4;
    }
  }
}

.workflow-node-status-icon {
  padding: 0.125rem;
  color: var(--icon-color);
  position: absolute;
  left: -0.75rem;
  top: -0.75rem;

  & > svg {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 0.25rem;
    bottom: 0.25rem;
    background-color: var(--page-background-color);
    border-radius: 9999px;
  }
}

.workflow-node-toolbar {
  position: absolute;
  right: 0;
  top: -1.9375rem;
  transition: opacity 150ms ease-out;
  opacity: 0;

  &:has(.workflow-node-menu-trigger[aria-expanded="true"]) {
    opacity: 1;
  }

  &:has(.ds-btn[data-focus-visible]) {
    opacity: 1;
  }
}

.workflow-node-card {
  width: 12.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--background-base);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 150ms ease-out;
}

.workflow-node-icon {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

.workflow-node-title {
  font-size: var(--font-size-md);
  color: var(--foreground-text-base-strong);
  font-weight: 500;
}

.workflow-node-description {
  font-size: var(--font-size-xs);
  font-family: var(--mono-font-family);
  line-height: 1;
  color: var(--foreground-text-base-muted);
}

/* Should be adjusted based on the underlying flowgraph library node classnames */

.react-flow__node {
  &.selected,
  &:focus-visible {
    .workflow-node-card {
      outline: 3px solid var(--border-info-muted);
      outline-offset: 1px;
    }

    .workflow-node-toolbar {
      opacity: 1;
    }
  }
}
