.ds-btn {
  --btn-size: 2rem;
  --btn-padding-x: 0.75rem;
  --btn-font-size: var(--font-size-sm);
  --btn-border-color: var(--border-base);
  --btn-icon-size: 1rem;

  height: var(--btn-size);
  padding-inline: var(--btn-padding-x);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--foreground-text-base);
  background-color: var(--background-base);
  font-size: var(--btn-font-size);
  font-weight: 500;
  border: 1px solid var(--btn-border-color);
  border-radius: 4px;
  transition: background-color 150ms ease-out;
  outline: none;
  cursor: pointer;

  &[data-hovered] {
    background-color: var(--background-base-hover);
  }

  &[data-pressed] {
    background-color: var(--background-base-pressed);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring);
    outline-offset: 2px;
  }

  &[data-disabled] {
    background-color: var(--background-base-disabled);
  }
}

.ds-btn-ghost {
  --btn-border-color: transparent;
}

.ds-btn-sm {
  --btn-size: 1.5rem;
  --btn-padding-x: 0.5rem;
  --btn-icon-size: 0.875rem;
}

.ds-btn-lg {
  --btn-size: 2.5rem;
  --btn-padding-x: 1.25rem;
}

.ds-btn-icon-only {
  --btn-padding-x: 0;
  width: var(--btn-size);
}

.ds-btn-icon {
  width: var(--btn-icon-size);
  height: var(--btn-icon-size);
}
