@import "./design-system//styles/main.css";

:root {
  --canvas-background-color: #e8e8e8;
}

body {
  font-family: var(--default-font-family);
  font-size: var(--font-size-md);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-base);
  color: var(--foreground-text-base);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-flow__background {
  --xy-background-color-default: var(--canvas-background-color);
}

.workflow-node {
  --page-background-color: var(--canvas-background-color);
}
