@import "./design-system/styles/main.css";

:root {
  font-family: var(--default-font-family);
  font-size: var(--font-size-md);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-base);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
