.ds-btn-group {
  display: inline-flex;
  vertical-align: middle;

  > .ds-btn {
    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring);
      outline-offset: -4px;
      border-radius: 8px;
    }

    &:not(:first-child) {
      margin-left: -1px;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
